<div id="navbar" class="bg-smoked <%= transNav && 'container-layout' %>">
  <nav
    class="main-nav flex-row align-center fluid <%= !transNav && 'container-layout' %> <%= transNav && 'nav-trans' %>"
  >
    <a href="/" class="navbar-brand">FLIX<br /><span>the experience</span></a>
    <ul class="navigation<%= user && ' navigation-usr' %> flex-row">
      <li class="navigation__item">
        <a
          class="navigation__link <%= transNav && 'nav-light' %> <%= path === '/' && 'active' %>"
          href="/"
          >Movies</a
        >
      </li>
      <li class="navigation__item">
        <a
          class="navigation__link <%= transNav && 'nav-light' %> <%= path === '/dining' && 'active' %>"
          href="/dining"
          >Wine & Dine</a
        >
      </li>
      <li class="navigation__item">
        <a
          class="navigation__link <%= transNav && 'nav-light' %> <%= path === '/events' && 'active' %>"
          href="/events"
          >Events</a
        >
      </li>
      <% if(!user) { %>
        <li class="navigation__item">
          <a
            class="navigation__link <%= transNav && 'nav-light' %> <%= path === '/membership' && 'active' %>"
            href="/membership"
            >Membership</a
          >
        </li>
      <% } %>
      <li class="navigation__item">
        <a
          class="navigation__link <%= transNav && 'nav-light' %> <%= path === '/location' && 'active' %>"
          href="/location"
          >Location</a
        >
      </li>
      <% if(user) { %>
      <li class="navigation__item">
        <a class="navigation__link <%= transNav && 'nav-light' %>" href="#">
          <i class="far fa-user fa-sm"></i>
        </a>
      </li>
      <% } else { %>
      <li class="navigation__item">
        <a class="navigation__link" id="signin-btn" href="#si-popup">Sign in</a>
      </li>
      <li class="navigation__item navigation__item--btn">
        <a class="btn-prim navigation__link" href="/membership/gold">Sign up</a>
      </li>
      <% } %>
    </ul>
    <input
      type="checkbox"
      class="navigation__checkbox"
      id="navigation-toggle"
      name="navigation-toggle"
    />
    <label for="navigation-toggle" class="hamburger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="55"
        height="55"
        viewBox="0 0 200 200"
      >
        <g stroke-width="6" stroke-linecap="round">
          <path
            d="M72 82.286h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#000"
          />
          <path
            d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
            fill="none"
            stroke="#000"
          />
          <path
            d="M72 125.143h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#000"
          />
          <path
            d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
            fill="none"
            stroke="#000"
          />
          <path
            d="M100.75 82.286h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#000"
          />
          <path
            d="M100.75 125.143h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#000"
          />
        </g>
      </svg>
    </label>
    <div class="navigation__bg-wrapper fluid"></div>
    <ul class="navigation__collapse flex-column">
      <div class="navigation__acct navigation__toggle">
        <a class="navigation__link text-red" id="signin-btn" href="#si-popup"
          >Sign in</a
        >
        <span class="navigation__item--btn">
          <a class="navigation__link btn-prim" href="/membership/gold"
            >Sign up</a
          >
        </span>
      </div>
      <li class="navigation__item navigation__toggle">
        <a class="navigation__link" href="/">Movies</a>
      </li>
      <li class="navigation__item navigation__toggle">
        <a class="navigation__link" href="/dining">Wine & Dine</a>
      </li>
      <li class="navigation__item navigation__toggle">
        <a class="navigation__link" href="/events">Events</a>
      </li>
      <li class="navigation__item navigation__toggle">
        <a class="navigation__link" href="/membership">Membership</a>
      </li>
      <li class="navigation__item navigation__toggle">
        <a class="navigation__link" href="/location">Locations</a>
      </li>
      <span class="navigation__item navigation__toggle">MORE</span>
      <li class="navigation__item">
        <a class="navigation__link" href="#">flix life</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">shop</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">careers</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">in the news</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">about us</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">contact us</a>
      </li>
      <li class="navigation__store-logos">
        <img
          src="https://www.seekpng.com/png/full/34-349265_app-store-google-play-svg.png"
          alt="download on store"
          width="150px"
        />
      </li>
      <li class="navigation__footer">
        <div class="footer__adr">
          <p>FLIX Int</p>
          <p>1099 Flix Place, Flixville NJ 07100</p>
          <p>800-345-FLIX</p>
        </div>
      </li>
      <li class="navigation__social">
        <a href="" class="social-link"
          ><i class="fab fa-facebook-f fa-xs mr-4"></i
        ></a>
        <a href="" class="social-link"
          ><i class="fab fa-instagram fa-xs mr-4"></i
        ></a>
        <a href="" class="social-link"
          ><i class="fab fa-twitter fa-xs mr-4"></i
        ></a>
        <a href="" class="social-link"
          ><i class="fab fa-linkedin fa-xs mr-4"></i
        ></a>
        <a href="" class="social-link"
          ><i class="fab fa-youtube fa-xs mr-4"></i
        ></a>
        <a href="" class="social-link"><i class="fab fa-yelp fa-xs"></i></a>
      </li>
    </ul>
  </nav>
</div>
