<div class="container-layout">
  <footer class="footer flex-row align-center fluid">
    <div class="footer__info">
      <a class="navbar-brand" href="#">FLIX</a>
      <p class="footer__adr">
        FLIX Int
        <br />
        1099 Flix Pl, Flixville NJ 07100
        <br />
        800-345-FLIX
      </p>
    </div>
    <div class="footer__links text-center">
      <div class="footer__links-social">
        <a href="#"><i class="fab fa-facebook-f fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-instagram fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-twitter fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-youtube fa-lg mr-5"></i></a>
        <a href="#"><i class="fab fa-yelp fa-lg"></i></a>
      </div>
      <ul class="footer__links-list flex-row justify-center">
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
        <li>
          <a href="#">Membership Terms</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">FAQs</a>
        </li>
        <li>
          <a href="#">ADA Seating Compliance</a>
        </li>
        <li>
          <a href="#">ADA Compliance</a>
        </li>
        <li>
          <a href="#">FLIX Sweepstakes</a>
        </li>
      </ul>
      <p class="footer__copy-rht">
        &copy; All Rights Reserved, FLIX Theaters 2020
      </p>
    </div>
  </footer>
</div>
<!-- -------------------------- -->
<!-- login | reset | changePwd modal -->
<div class="modal modal-login" id="modal-login">
  <button class="modal-close btn-worded-only">&times;</button>
  <!-- login content -->
  <div class="modal-content modal-content--login" id="modal-content--login">
    <h2>Log In</h2>
    <form id="login-form">
      <div class="input-field">
        <input 
          type="email"
          id="si-email"
          name="email"
          class="validate"
          autocomplete="email"
          required
        />
        <label for="si-email">Email</label>
        <span class="helper-text" data-error="This field is required."></span>
      </div>
      <div class="input-field">
        <input 
          type="password"
          id="si-password"
          name="password"
          class="validate"
          autocomplete="off"
          required
        />
        <label for="si-password">Password</label>
        <span class="helper-text" data-error="This field is required."></span>
        <div><i class="fas fa-lock fa-lg"></i></div>
      </div>
      <button id="fg-pwd" type="button" class="color-text color-text__btn">
        Forgot Password?
      </button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn-prim btn-block">Log In</button>
    </form>
    <p>
      Receive member-only ticket pricing, 10% off food and beverage, and
      more.&nbsp; <a href="/membership/gold" class="color-text color-text__link">Sign Up</a>.
    </p>
  </div>
  <!-- -------------------------- -->
  <!-- reset email form content -->
  <div class="modal-content modal-content--pwdReset" id="modal-content--pwdReset">
    <h2>Reset Password</h2>
    <p>
      Please enter the email address associated with your account, an email link to reset
      your password will be sent there.
    </p>
    <form id="reset-pwd-form">
      <div class="input-field">
        <input 
          type="email"
          id="rpwd-email"
          name="email"
          class="validate"
          autocomplete="email"
          required
        />
        <label for="rpwd-email">Email</label>
        <span class="helper-text" data-error="This field is required."></span>
      </div>
      <button id="bck-si" type="button" class="color-text color-text__btn">
        Back to Sign in
      </button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="btn-prim btn-block">Send Reset Link</button>
    </form>
  </div>
</div>
<!-- RESET FORM -->
<% if(resetToken !== '') { %> 
  <div class="modal modal-login" id="modal-newPwd">
    <button class="modal-close btn-worded-only">&times;</button>
    <!-- login content -->
    <div class="modal-content modal-content--pwdReset show">
      <h2>New Password</h2>
      <p class="text-center">Enter a new password for <%= userEmail %></p>
      <form id="update-pwd-form">
        <div class="input-field">
          <input 
            type="password"
            id="nw-password"
            name="password"
            autocomplete="off"
            required
          />
          <label for="nw-password">New Password</label>
          <span class="helper-text" data-error="This field is required."></span>
          <div><i class="fas fa-lock fa-lg"></i></div>
        </div>
        <div class="input-field">
          <input
            type="password"
            id="nw-confirmPassword"
            name="confirmPassword"
            autocomplete="off"
            required
          />
          <label for="nw-confirmPassword">Confirm New Password</label>
          <span class="helper-text" data-error="This field is required."></span>
          <div><i class="fas fa-lock fa-lg"></i></div>
        </div>
        <input type="hidden" name="_email" value="<%=  userEmail %>">
        <input type="hidden" name="_rstt" value="<%=  resetToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn-prim btn-block">Update Password</button>
      </form>
    </div>
  </div>
<% } %>